:root {
    --main-color: #E9E9E9;
    --accent-color: #1d2046;
}


html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
#top{
    width: 100%;
    height: 100vh;
    background-color: var(--accent-color);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
    
}

.img-cap{
    margin: 0 12.5% 0 12.5%;
    text-align: center;
    align-items: center; 
}

.img-cap p{
    line-height: 2em;
}

@media (min-aspect-ratio: 1/1) {
    .img-cap{
        /* display: flex;
        text-align: left; */
        margin: 0 25% 0 25%;
    }
    /* .img-cap figure{
        margin-right: 20px;
    } */
}

.img-cap img{
    width: 50em;
    max-width: 100%;
    position: relative;
    border: 1.5px var(--accent-color) solid;
}

.img-cap figure{
    text-align: center;
    font-size: 0.75em;
}

.down{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    position: absolute;
    height: 10em;
    color: white;
    font-size: 1em;
}



#down-button{
    height: 5em;
    width: 5em;
    position: absolute;
    transform: translateX(-50%);
}

#particles-js{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.title-container{
    margin: auto;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.title{
    color: white;
    font-size: 2em;
}

#main-content{
    width: 100%;
    top: 100%;
    position: absolute;
    background-color: var(--main-color);
    color: var(--accent-color);
    text-align: center;
}

h1{
    margin: 0;
    padding: 20px;
    font-size: 2em;
}

p{
    font-size: 1em;
}



.link-img{
    width: 2em;
    height: 2em;
    padding: 10px;
    opacity: 0.5;
}

.link-img:hover{
    opacity: 1;
}


#project-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.project{
    position: relative;
    color: var(--accent-color);
    width: 15em;
    height: 15em;
    box-shadow: 
        -0.5em -0.5em 0.5em 0 rgba(255,255,255,0.6),
        0.5em 0.5em 0.5em 0 rgba(0,0,0,0.4);
    border-radius: 12%;
    margin: 20px;
    margin-top: 35px;
    text-align: center;
    padding-top: 0.5em;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
    transition: 0.3s;
}

.project:hover{
    background-color: var(--accent-color);
    color: white;
}

.project-desc{
    color: white;
    display: none;
    position: absolute;
    font-size: 1em;
    z-index:100;
    transform: translate(-50%, -50%);
    top: 50%;
    
}

.project:hover > .project-desc{
    display: inline;
}




.project-title{
    line-height: 2.5em;
    font-size: 1.125em;
}

.project-img{
    width: 10.5em;
    height: 10.5em;
    border-radius: 12%;
    position: absolute;
    transform: translateX(-50%);
}

.project:hover > .project-img{
   opacity: 0.15;
}

a{
    text-decoration: none;
}

